<header>
    <div class="headerContent">
        <div class="textHeader">
            LIBRARY
        </div>
        <div class="buttonContent">
            <div class="nameHeader">
                {% if app.user %}
                    {{ app.user.username }}
                {% endif %}
            </div>
            <div class="buttonHeader">
                <a class="button" href="{{ path('book_index') }}">Главная</a>               
                {% if app.user %}
                    <a class="button" href="{{ path('book_my') }}">Мои книги</a>
                    <a class="button" href="{{ path('book_new') }}">Добавить книгу</a>
                    <a class="button" href="{{ path('app_logout') }}">Выйти</a>
                {% else %}
                    <a class="button" href="{{ path('app_register') }}">Регистрация</a>
                    <a class="button" href="{{ path('app_login') }}">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>